/* MAIN WRAPPER */
.sound-popular-wrapper {
  margin-top: 80px;
  margin-bottom: 25px;
  padding: 5px 0;
  width: 100%;
  background: #f8f2ea;
  border-radius: 20px;
}

.sound-popular-container {
  max-width: 1320px;
  margin: 80px auto;
}

/* HEADER */
.sound-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.sound-right-side {
  display: flex;
  justify-content: end;
  align-items: end;
}

.sound-header h2 {
  font-size: 56px;
  font-weight: 700;
  color: #111;
  margin: 0;
}

.sound-header p {
  margin-top: 8px;
  max-width: 420px;
  color: #777980;
  line-height: 160%;
  font-size: 18px;
}

.sound-header-btn {
  background: #11121d;
  padding: 12px 22px;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s ease;
}

.sound-header-btn:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

/* GRID */
.sound-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 20px;
}

.sound-card {
  width: 312px;
  height: 280px;
  position: relative;
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.35s ease;
}

.sound-card-wide {
  width: 648px;
  height: 280px;
}

.sound-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.35s ease;
}

.sound-meta {
  position: absolute;
  bottom: 16px;
  left: 18px;
  color: #fff;
}

.sound-meta h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5%;
  line-height: 130%;
  margin: 0;
}

.sound-meta p {
  font-size: 13px;
  margin-top: 4px;
  opacity: 0.85;
}

/* Hover */
.sound-card:hover {
  transform: translateY(-6px);
  filter: brightness(1.1);
}

.sound-card:hover img {
  transform: scale(1.05);
}

/* RESPONSIVE design */

@media (max-width: 1024px) {
  .sound-grid {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .sound-popular-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sound-card {
    width: 100%;
  }

  .sound-card-wide {
    width: 100%;
    grid-column: span 2;
  }

  .sound-header-btn {
    top: auto;
    bottom: -45px;
  }
}

@media (max-width: 768px) {
  .sound-header h2 {
    font-size: 38px;
  }
  .sound-popular-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sound-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .sound-card-wide {
    grid-column: span 2;
  }
}

@media (max-width: 600px) {
  .sound-grid {
    grid-template-columns: 1fr !important;
    gap: 18px;
    padding: 0 5px;
  }

  .sound-card,
  .sound-card-wide {
    width: 100% !important;
    height: 240px;
    grid-column: auto !important;
  }

  .sound-header-btn {
    position: static;
    margin-top: 12px;
  }

  .sound-header {
    margin-bottom: 70px;
    flex-direction: column;
  }
  .sound-right-side {
    justify-content: center;
    align-items: center;
  }
  .sound-left-side {
    text-align: center;
  }
}
