/* Wrapper */
.sca-wrapper {
  background: #f5ede3;
  margin-top: 80px;
  padding: 80px 0;
  text-align: center;
  border-radius: 30px;
}

/* Header */
.sca-header h2 {
  font-size: 56px;
  font-weight: 700;
  color: #1d1f2c;
  margin-bottom: 10px;
  line-height: 130%;
}

.sca-header p {
  font-size: 18px;
  color: #777980;
  /* margin-bottom: 50px;
  padding-bottom: 25px; */
}

/* Grid */
.sca-grid {
  max-width: 1320px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  padding-top: 80px;
}

/* Cards */
.sca-card {
  padding: 45px 40px;
  text-align: left;
  border-radius: 0px 0px 10px 10px;
  transition: transform 0.25s ease;
}

.sca-icon {
  width: 38px;
  margin-bottom: 20px;
}

/* Card Variants */
.sca-dark {
  background: white;
  color: black;
}
.sca-dark:hover {
  background-color: black;
  color: white;
}
.sca-dark h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 130%;
}
.sca-dark p {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}

.sca-light {
  margin-top: -50px;
  background: #ffffff;
  color: #000;
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
}
.sca-light:hover {
  background-color: black;
  color: white;
}
.sca-light h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
}
.sca-light p {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}

.sca-ultra-light {
  background: #f9fafb;
  color: #000;
}
.sca-ultra-light:hover {
  background-color: black;
  color: white;
}
.sca-ultra-light h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 130%;
}
.sca-ultra-light p {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}

/* Responsive */
@media (max-width: 1200px) {
  .sca-header h2 {
    font-size: 56px;
  }
  .sca-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 900px) {
  .sca-grid {
    grid-template-columns: 1fr;
    padding-left: 8px;
    padding-right: 8px;
  }

  .sca-light {
    border-left: none;
    border-right: none;
    padding: 24px;
  }
  .sca-ultra-light {
    padding: 24px;
  }
  /* .sca-card {
    margin-bottom: 20px;
  } */

  .sca-header h2 {
    font-size: 42px;
    line-height: 125%;
  }

  .sca-header p {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .sca-grid {
    gap: 20px;
  }
  .sca-dark {
    margin-bottom: 50px;
    padding: 24px;
  }
}

@media (max-width: 600px) {
  .sca-header h2 {
    font-size: 32px;
    line-height: 125%;
  }
  .sca-grid {
    gap: 20px;
  }

  .sca-header p {
    font-size: 18px;
  }
}

@media (max-width: 420px) {
  .sca-header h2 {
    font-size: 38px;
  }
  .sca-card {
    padding: 20px;
  }
}
